<nav class="col-2 bg-light pe-3">
    <h1 class="h4 py-3 text-center text-primary">
        <i class="fa-solid fa-table-columns text-warning"></i>
        <span class="d-none d-lg-inline text-warning">
            Dashboard
        </span>
    </h1>
    <div class="list-group text-center text-lg-start">
        <span class="list-group-item disabled d-none d-lg-block">
            <small>CONTROLS</small>
        </span>
        <a href="/admin" class="list-group-item list-group-item-action">
            <i class="fas fa-home"></i>
            <span class="d-none d-lg-inline">Dashboard</span>
        </a>
        <a href="/admin/seller" class="list-group-item list-group-item-action">
            <i class="fas fa-users"></i>
            <span class="d-none d-lg-inline">Sellers</span>
        </a>
        <a href="/admin/buyer" class="list-group-item list-group-item-action">
            <i class="fas fa-users"></i>
            <span class="d-none d-lg-inline">Buyers</span>
        </a>
    </div>
</nav>